<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center;">
    <img src="/assets/icon/fotoperfil.PNG" alt="Foto 2x2" style="width:100px; height:100px; object-fit: cover; border-radius: 50%;">
  </div>
  <h2>Nombre: Hendry Gustavo</h2>
  <h2>Apellido: Peguero Valdez</h2>
  <h2>Matricula: 2022-1807</h2>
  <h2>Correo: hpeguerovaldez&#64;gmail.com</h2>
  <h3 style="color:red;">Desliza de izquierda a derecha para ver el menú.(Para Celulares)</h3>
</ion-content>